# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
venv13/

# Environment variables
.env

# Streamlit
.streamlit/

# Local data
data/uploads/*
data/chroma_db/*

# OS files
.DS_Store

# IDE
.idea/
.vscode/
