django
djangorestframework
djangorestframework-stubs
djangorestframework-simplejwt
django-cors-headers

pillow
psycopg
psycopg2-binary
python-dotenv
django-environ
gunicorn
uvicorn
imblearn


langchain-ollama
langchain-community
langchain-classic
langchain-huggingface
langchain-chroma

sentence-transformers
faiss-cpu

tqdm
jupyter
tiktoken
streamlit




